<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Evolucionae.Properties.Settings.BDConnectionString"
            connectionString="Data Source=|DataDirectory|\BD.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Evolucionae.Properties.Settings.ParadigmasConnectionString"
            connectionString="Data Source=Emily\sqlexpress;Initial Catalog=Paradigmas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>